*

!.gitignore

!alacritty/
!alacritty/alacritty.toml

!fish/
!fish/fish_variables

!fuzzel/
!fuzzel/fuzzel.ini

!helix/
!helix/config.toml
!helix/languages.toml

!sway/
!sway/config
!sway/outputs
!sway/workspaces

!waybar/
!waybar/config
!waybar/style.css

!sddm/
!sddm/Main.qml
!sddm/theme.conf
!sddm/metadata.desktop
!sddm/UsersChoose.qml
!sddm/SessionsChoose.qml
