*

!.gitignore

!alacritty/
!alacritty/alacritty.toml

!fish/
!fish/fish_variables

!fuzzel/
!fuzzel/fuzzel.ini

!helix/
!helix/config.toml
!helix/languages.toml

!sway/
!sway/config
!sway/outputs
!sway/workspaces

!waybar/
!waybar/config
!waybar/style.css
